services:
  wg-router:
    container_name: wg-router
    image: lscr.io/linuxserver/wireguard:latest
    cap_add: 
      - NET_ADMIN
    environment: 
      - PUID=1000
      - PGID=1000
      - PEERS=4  # The number of ((teams * players) + teams)
      - INTERNAL_SUBNET=10.12.0.0/24
      - ALLOWEDIPS=10.12.0.0/24
      - SERVERURL=172.12.0.200
      - PEERDNS=8.8.8.8
      - PERSISTENTKEEPALIVE_PEERS=all
    volumes:
      - "./shared/wg-configs/:/config:z"
      - "./shared/server-init-script:/custom-cont-init.d:ro,z"
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    healthcheck:
      test: ["CMD", "test", "-f", "/config/init_done"]
      interval: 6s
    networks:
      cyberbattlesnet:
        ipv4_address: 172.12.0.200
    restart: unless-stopped

  team1:
    container_name: team1_box
    environment:
      - PUID=1000
      - PGID=1000
    cap_add: 
      - NET_ADMIN
    volumes:
      - "./shared/wg-configs/peer1/peer1.conf:/etc/wireguard/wg0.conf:ro"
      - "./shared/challenge-setup-script/supervisord.conf:/etc/supervisord.conf:ro,z"
    depends_on: 
      wg-router:
        condition: service_healthy
    build:
      context: team1
    ports:
      - "2222:22"
      - "8080:8080"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      cyberbattlesnet:
        ipv4_address: 172.12.0.2
    restart: unless-stopped
networks:
  cyberbattlesnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.12.0.0/24

# REF
# https://docs.linuxserver.io/general/container-customization/
# https://docs.linuxserver.io/images/docker-wireguard/#parameters
# https://www.linuxserver.io/blog/routing-docker-host-and-container-traffic-through-wireguard
