@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

:root {
  --background: #212020;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

pcap-element {
  --color-dark: #000000;
  --color-gray: #000000;
  --color-light: #000000;
  --color-dark-text: #000000;
  --color-light-text: #000000;
  color: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, Helvetica, sans-serif;
}
